{% macro render_field_group(field) %}
<div class = "form-group ">
    {{ field.label(style = "margin-top: 20px;") }}
    {{ field(class_="form-control col-xs-3") }}
    <div style = "background-color: rgba(212, 0, 0, 0.3); padding-top: 5px; text-align: center">
        <ul>
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}
{% macro render_field_check(field) %}
<div class = "form-check">
    {{ field.label(class_ = "form-check-label", style = "margin-top: 20px;") }}
    {{ field(class_="form-check-input")}}
</div>
{% endmacro %}
{% macro flash_message() %} 
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class ="container mt-4" style = "width: 100%; padding-top: 10px;">
                {% for category, message in messages %}
                    <div class = "alert alert-{{category}} alert-dismissible" role="alert">
                        {{ message }}
                        <button type = "button" class = "close" data-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endmacro %}