{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
        <div class = "container">
            <h1 class = "text-center">Log In!</h1>
            <form method="POST" action='{{ url_for("login")}}''>
                {{ form.csrf_token }}
                {{ render_field_group( form.email ) }}
                {{ render_field_group( form.password ) }}
                {{ render_field_check( form.remember ) }}
                {{ form.submit(class_ ="btn btn-outline btn-primary", style = "margin-top: 10px;") }}
                {{ flash_message() }}
            </form>
        
{% endblock %}